<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header custom-card">
                    <div class="text-center">
                        <h1 class="pickle-text">
                            PICKLE PLAYS
                        </h1>
                    </div>
                </div>

                <div class="card-body border-bottom" style="height: 80vh;">
                    <div class="row text-center" style="font-weight: 800;">
                        <div>{{city}}</div>
                    </div>
                    <div class="row text-center mt-2">
                        <span>Choose your reservation type.</span>
                    </div>
                    <div class="container-lg">
                        <div class="row row-margin justify-content-center">
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <span>INDOOR</span>
                                </div>
                            </div>
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <span>OUTDOOR</span>
                                </div>
                            </div>
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <span>EAT & DRINK</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer custom-card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>© 2024 Pickle Plays. All Rights Reserved.</span>
                        <div>
                            <span (click)="openPopUp()" class="text-primary">Terms & Conditions</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>