<div class="modal-bg">
    <div class="modal-header">
        <div class="w-100 d-flex justify-content-between align-items-center px-2">
          <span> <i class="fas fa-file-contract me-2"></i>Terms & Conditions</span>
          <button class="btn btn-danger" (click)="closeModal()"><i class="fas fa-times"></i></button>
        </div>
      </div>
      
    <div class="modal-body">
        <div class="container-lg p-2">
            <ngb-accordion>
              <ngb-panel title="Rates">
                <ng-template ngbPanelContent>
                  <div class="collapse-content">
                    <div class="loc-rates">
                      <p>
                        <span>
                          Mon-Fri 8am-5pm: $30 per hour<br>
                          Mon-Fri 5pm-close: $40 per hour<br>
                          All day Weekends: $45 per hour
                        </span>
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>

              <ngb-panel title="Cancellation Policy">
                <ng-template ngbPanelContent>
                  <div class="collapse-content">
                    <div class="loc-policy">
                      <p>
                        <span>
                          To receive 100% refund you must cancel your court reservation 24 hours in advance. After 24
                          hours, you can receive a 50% refund. To cancel, please call the restaurant.
                        </span>
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
    </div>

  </div>