<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header custom-card">
                    <div class="text-center">
                        <h1 class="pickle-text">
                            PICKLE PLAYS
                        </h1>
                    </div>
                </div>

                <div class="card-body border-bottom" style="height: 80vh;">
                    <h1>Welcome</h1>

                </div>
                <div class="card-footer custom-card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>© 2024 Pickle Plays. All Rights Reserved.</span>
                        <div>
                            <span (click)="openPopUp()" class="text-primary">Terms & Conditions</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>