<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header custom-card">
                    <div class="text-center">
                        <h1 class="chicken-text">CHICKEN</h1>
                        <h1 class="pickle-text">
                            <span class="n-text">N</span> PICKLE
                        </h1>
                    </div>
                </div>
                <div class="card-body border-bottom">
                    <div class="row text-center">
                        <div>RESERVATIONS</div>
                    </div>
                    <div class="row text-center mt-2">
                        <span>Select a location to begin.</span>
                    </div>
                    <div class="container-lg">
                        <div class="row row-margin justify-content-center">
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/north-kansas-city/">NORTH KANSAS CITY</a>
                                </div>
                            </div>
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/san-antonio/">SAN ANTONIO</a>
                                </div>
                            </div>
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/wichita/">WICHITA</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-margin justify-content-center">
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/oklahoma-city/">OKLAHOMA CITY</a>
                                </div>
                            </div>
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/overland-park/">OVERLAND PARK</a>
                                </div>
                            </div>
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/grand-prairie/">GRAND PRAIRIE</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-margin justify-content-center">
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/grapevine/">GRAPEVINE, TX</a>
                                </div>
                            </div>
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/glendale-az/">GLENDALE, AZ</a>
                                </div>
                            </div>
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/st-charles-mo/">ST CHARLES, MO</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-margin justify-content-center">
                            <div class="col-sm res-3col">
                                <div class="res-btn1 box h-100 d-flex justify-content-center flex-column">
                                    <a href="/webster-tx/">WEBSTER, TX</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <!-- Footer content here -->
                </div>
            </div>
        </div>
    </div>
</div>
